<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="compcount" data-view="Hotness" data-title="compcount" data-cool="1" data-warm="10" data-moreinfo="ADV search # of computers"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="allcomps" data-view="Hotness" data-title="allcomps" data-cool="1" data-warm="4" data-moreinfo="Smart Group # of computers"></div>
    </li>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="nochkin" data-view="Hotness" data-title="nochkin" data-cool="20" data-warm="90" data-moreinfo="Smart Group # of computers"></div>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="percomp" data-view="Meter" data-title="percomp" data-moreinfo="Smart group % of computers" data-min="0" data-max="100"></div>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="managedgraph" data-view="Graph" data-title="managedgraph" style="background-color:#ff9618"></div>
  </ul>
</div>
